@charset "UTF-8";

body.temple-activated, .temple-activated .is-template {
  border: 1px solid red !important;
  position: relative !important;
}

body.temple-activated:hover:after, .temple-activated .is-template:hover:after {
  display: inline-block;
  content: attr(data-template);
  background:red;
  color:white;
  font-size:12px;
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 10000;
  padding: 2px 8px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#temple-dialog pre {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  background-color: rgba(0,0,0,0.7) !important;
  color: rgba(255,255,255,0.6);	
}

.temple-template-info {
  text-indent: 8px;
  font-size: xx-small;
  vertical-align: middle;
  white-space: normal;
}